footer {
    background-color: var(--color-bgyellow);
    height: 50px;
    width: 100%;
    padding: 5px 0px;

    .mentionslegales {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        a {
            font-size: 1rem;
            color: #000;
            text-decoration: none;
            border-bottom: 2px solid var(--color-primary);
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid var(--color-secondary);
            }
        }
        

        p {
            // margin: 0 auto;
    
            a {
                font-size: 1rem;
                color: #000;
                text-decoration: none;
                border-bottom: 2px solid var(--color-primary);
                cursor: pointer;
                &:hover {
                    border-bottom: 2px solid var(--color-secondary);
                }
            }
            
        }
    }

}

@media screen and (max-width: 768px) {
    footer {
        height: 80px;
        
        .mentionslegales {
            flex-direction: column;
            text-align: center;

            a {
                padding: 10px 0px 0px;
                margin: 5px auto;
            }
            p {
                padding: 5px 0px;
            }
        }

    }
}