.reflexologie-container {
    background-color: var(--color-bgyellow);
    display: flex;
    margin: 0px auto;
    padding: 30px 100px;
    align-items: center;
    

    .text-content {
        width: 880px;

        h2 {
            font-size: 1.8rem;
        }
        p   {
            margin: 30px auto;
            font-size: 1.2rem;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 1rem;
        }
    }
    .img-content {
        margin: 10px auto;
    }
}

.praticienne-container {
    background-color: var(--color-bg-neutre);
    display: flex;
    margin: 0px auto;
    padding: 30px 100px;
    align-items: center;


    .text-content {
        width: 880px;
        padding-left: 20px;

        h2 {
            font-size: 1.8rem;
        }
        p   {
            margin: 30px auto;
            font-size: 1.2rem;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 1rem;
        }
    }
    .img-content {
        margin: 10px auto;
    }
}

.gallery-container {
    background-color: var(--color-bgyellow);
    display: flex;
    margin: 0px auto;
    padding: 30px 100px;
    align-items: center;


    .text-content {
        width: 880px;

        h2 {
            font-size: 1.8rem;
            margin: 30px auto;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 1rem;
        }
    }
    .gallery-content {
        background-color: var(--color-bg-y);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        img {
            margin: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .reflexologie-container {
        flex-direction: column;
        width: 100%;
        padding: 0px 5px;
        text-align: center;

        .text-content {
            width: 100%;
        }
        .img-content {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
    .praticienne-container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0px 5px;
        text-align: center;

        .text-content {
            width: 100%;
        }
        .img-content {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1092px) {
    .gallery-container {
        flex-direction: column;
        width: 100%;
        padding: 0px 5px;
        text-align: center;
        margin: 0px auto;

        .text-content {
            width: 100%;
        }
        .gallery-content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            img {
                max-width: 100%;
            }
        }
    }
}