*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fa0000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

:root {
  --color-primary: #B81934;
  --color-secondary: #F29F05;
  --color-tertiary: #F27983;
  --color-linear: linear-gradient(to bottom,#fa5757 40%, #8C1837 85%);
  --color-text: #000;
  --color-white: #fff;
  --color-bgyellow: #F2DCB3;
  --color-bg-neutre: #D9C6BA;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.main-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.main-content .bg-image {
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/jeanne-s-dev/ReflexologieWebSite-Helene/main/src/img/225690550_106623021721234_5136931006424740545_n.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content #bg_menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 0px;
  overflow: visible;
  position: relative;
  z-index: 2;
  padding: 20px 20px;
  top: 55px;
  left: 80px;
  cursor: pointer;
}

.main-content #bg_menu span,
.main-content #bg_menu span::before,
.main-content #bg_menu span::after {
  background: var(--color-linear);
  display: block;
  height: 3px;
  opacity: 1;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-content #bg_menu span::before,
.main-content #bg_menu span::after {
  content: "";
}

.main-content #bg_menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

.main-content #bg_menu span::before {
  left: 0px;
  top: -10px;
  width: 27px;
}

.main-content #bg_menu span::after {
  left: 0px;
  top: 10px;
  width: 27px;
}

.main-content #bg_menu.close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

.main-content #bg_menu.close span::before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 27px;
}

.main-content #bg_menu.close span::after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

.main-content #menu_open {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  -webkit-animation: slide-right 4s forwards;
          animation: slide-right 4s forwards;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url("https://raw.githubusercontent.com/jeanne-s-dev/ReflexologieWebSite-Helene/main/src/img/225690550_106623021721234_5136931006424740545_n.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content #menu_open .overlayy {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  margin-top: -100px;
}

.main-content #menu_open li {
  list-style: none;
}

.main-content #menu_open li a {
  display: inline-block;
  position: relative;
  color: var(--color-text);
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  text-transform: uppercase;
  background: var(--color-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.main-content #menu_open li a:hover {
  border-bottom: 2px solid var(--color-tertiary);
}

.main-content #menu_open.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  top: 0;
  position: absolute;
  opacity: 2;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-content .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  z-index: 0;
  position: relative;
}

.main-content .content-wrap .logo {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 999px;
  margin: 10rem auto 0;
}

.main-content .content-wrap h1 {
  padding: 80px 0px 50px 0px;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--color-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content .content-wrap h2 {
  padding: 80px 0px 50px 0px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--color-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animations*/
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 928px) and (orientation: landscape) {
  .main-content {
    background-color: yellowgreen !important;
  }
  .main-content .content-wrap {
    width: 100%;
    height: 100%;
  }
  .main-content .content-wrap .logo {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 999px;
    margin: .5rem auto 0;
  }
  .main-content .content-wrap h1 {
    padding: 40px 0px 20px 0px;
    font-size: 2rem;
    text-align: center;
  }
  .main-content .content-wrap h2 {
    padding: 40px 0px 20px 0px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  .main-content #menu_open ul {
    margin-top: -50px;
  }
  .main-content #menu_open ul li a {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .main-content {
    width: 100%;
    height: 100vh;
  }
  .main-content #bg_menu {
    top: 40px;
    left: 20px;
    padding: 0;
  }
  .main-content .content-wrap {
    width: 100%;
    height: 100%;
  }
  .main-content .content-wrap .logo {
    width: 100px;
    height: 100px;
    margin: 1rem auto 0;
  }
  .main-content .content-wrap h1 {
    font-size: 2rem;
    text-align: center;
  }
  .main-content .content-wrap h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  .main-content #menu_open ul li a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    width: 100%;
    height: 100vh;
  }
  .main-content #menu_open ul li a {
    font-size: 2.2rem;
  }
}

#mentions-container {
  background-color: var(--color-bg-neutre);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0px;
}

#mentions-container h2 {
  color: var(--color-primary);
  font-size: 2rem;
  padding: 1rem 0rem;
}

#mentions-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 10px auto;
  margin: 0px auto;
  max-width: 900px;
  padding: 10px 0px;
}

#mentions-container div h3 {
  font-size: 1.4rem;
  color: var(--color-primary);
  text-align: left;
  margin-bottom: 5px;
}

#mentions-container div p {
  font-size: 1rem;
  color: var(--color-text);
}

#mentions-container div p span {
  font-weight: 600;
}

#mentions-container div p a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 2px solid var(--color-tertiary);
  cursor: pointer;
}

#mentions-container div p a:hover {
  border-bottom: 2px solid var(--color-secondary);
}

#mentions-container .termsandconditions-content p {
  padding: 10px 0px;
}

@media screen and (max-width: 768px) {
  #mentions-container h2 {
    font-size: 1.8rem;
  }
  #mentions-container div {
    text-align: left;
    margin: 0px auto;
    padding: 10px 10px 0px 10px;
  }
  #mentions-container div h3 {
    font-size: 1.2rem;
  }
}

footer {
  background-color: var(--color-bgyellow);
  height: 50px;
  width: 100%;
  padding: 5px 0px;
}

footer .mentionslegales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .mentionslegales a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

footer .mentionslegales a:hover {
  border-bottom: 2px solid var(--color-secondary);
}

footer .mentionslegales p a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

footer .mentionslegales p a:hover {
  border-bottom: 2px solid var(--color-secondary);
}

@media screen and (max-width: 768px) {
  footer {
    height: 80px;
  }
  footer .mentionslegales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .mentionslegales a {
    padding: 10px 0px 0px;
    margin: 5px auto;
  }
  footer .mentionslegales p {
    padding: 5px 0px;
  }
}
/*# sourceMappingURL=style.css.map */