:root {
    --color-primary: #F22E2E;
    --color-secondary: #F29F05;
    --color-tertiary: #F27983;   

    --color-linear: linear-gradient(to bottom,#F22E2E 30%, #8C1837 85%);

    --color-text: #000;
    --color-white: #fff;

    --color-bgyellow: #F2DCB3;
    --color-bg-neutre: #D9C6BA;
}