:root {
    --color-primary: #B81934;
    // --color-primary: #fa5757;
    --color-secondary: #F29F05;
    --color-tertiary: #F27983;   

    --color-linear: linear-gradient(to bottom,#fa5757 40%, #8C1837 85%);

    --color-text: #000;
    --color-white: #fff;

    --color-bgyellow: #F2DCB3;
    // --color-bg-neutre: #ece0d9;

    --color-bg-neutre: #D9C6BA;
}